.App {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  margin: auto;
  padding-bottom: 2rem;
  transform: translateX(-50px);
  animation: animate .5s forwards;
  min-height: calc(100vh + 10vh);

}

@keyframes animate {
  to {
    transform: initial;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2%;
}

.container .images{
  width: 100%;
}

.container .images img {
  border-radius: 8px;
  width: 100%;
  margin-bottom: 1rem;
}

.container .text {
  padding: 1.5rem ;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container .text mark {
  padding: 3px;
  border-radius: 4px;
  background-color: rgba(108, 247, 54, 0.938)
}

@media (max-width: 450px) {
  .App {
    padding: 1rem 2%;
  }

  .text {
    grid-row-start: 1;
  }
}


